nav {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 160px;
}
.logo-nav {
  margin-top: 1.4rem;
  margin-right: 1.8rem;
  width: 130px;
  height: 130px;
}

.nav-third-section,
.nav-second-section,
.nav-first-section {
  display: flex;
}

.nav-third-section p,
.nav-second-section p,
.nav-first-section p {
  margin-left: 1rem;
  cursor: pointer;
}
.nav-third-section,
.nav-first-section {
  margin-top: 1.4rem;
}

.nav-second-section {
  margin-top: 2.8rem;
}

.icon-search,
.icon-location {
  display: flex;
}
.icon-search p,
.icon-location p {
  margin: 0;
}
.p-restautants {
  text-decoration: underline;
  color: #006bae;
}
.ham-icon {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-third-section,
  .nav-second-section,
  .nav-first-section {
    display: none;
  }

  nav {
    justify-content: left;
    margin: 0;
    padding: 0;
    height: 60px;
    position: relative;
    align-items: normal;
  }
  .logo-nav {
    width: 50px;
    height: 50px;
    margin-top: 0rem;
  }
  .ham-icon {
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 3.8rem;
    top: 1rem;
  }
  .close-icon {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }
  .device-navbar {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-top: 3.2rem;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 1000px;
    padding-bottom: 2rem;
  }
  .device-navbar li {
    margin-top: 1.4rem;
  }
}

.navbar-active {
  height: 500px;
}
