.mccafe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mccafe-pt1 {
  width: 70%;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #292929;
  font-weight: 800;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.mccafe-img {
  width: auto;
  height: auto;
}

.cold-drinks-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 7rem;
  margin: 5rem 0;
}
.cold-drinks-info h1 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #292929;
}
.cold-drinks-info p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 1000px) {
  .mccafe-pt1 {
    width: 95%;
  }
  .title {
    font-size: 2rem;
  }
  .cold-drinks-info {
    grid-template-columns: repeat(1, auto);
  }
  .cold-drinks-info p {
    font-size: 0.8rem;
  }
}

/*Part 2 */
.cafe-highlights {
  margin: 2rem 0;
  position: relative;
}

.highlights-info-div {
  width: 350px;
  padding: 35px;
  position: absolute;
  bottom: 12%;
  left: 4rem;
  background-color: white;
  padding-right: 45px;
  height: 315px;
}
.highlights-info-div h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #292929;
}
.highlights-info-div p {
  margin-top: 1.3rem;
  font-size: 0.8rem;
  color: #292929;
}

.highlights-info-div button {
  background-color: #ffbc0d;
  padding: 12px 20px;
  font-size: 0.8rem;
  border-radius: 6px;
  margin-top: 1.3rem;
  cursor: pointer;
}

.title-2 {
  color: #292929;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
}

@media only screen and (max-width: 1000px) {
  .highlights-info-div {
    width: 100%;
    left: 0;
    bottom: -19rem;
    /* border: solid 1px grey; */
  }
  .cafe-highlights {
    margin-bottom: 20rem;
  }
  .title-2 {
    color: #292929;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
  }
}
