@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

/* container info */
.containerInfo {
  background-color: white;
  color: black;
  width: 380px;
  height: 350px;
  padding: 10px 25px;
  text-align: left;
  position: absolute;
  left: 3rem;
  bottom: 5.5rem;
  border-radius: 8px;
  overflow: hidden;
}
.subContainer-info {
  background-color: white;
  overflow: hidden;
}

#span-info {
  font-size: 0.6rem;
}
.play-and-stop-btn {
  border: none;
  background-color: transparent;
  margin-top: 1rem;
}
.div-btn-info button {
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: black;
  background-color: #ffbc0d;
}

/* component */
.carousel {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  height: 500px;
}

#carousel-img {
  width: 1100px;
  height: 500px;
  background-size: 100%;
  object-fit: 100%;
  background-repeat: no-repeat;
}
.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #576776;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  z-index: 100;
  background-color: white;
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.button-arrow {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 25px;
  font-size: 1.5rem;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: rgb(164, 164, 164);
}

.indicator-symbol-active {
  color: rgb(76, 76, 76);
}

/*  RESPONSIVE  */

/* Example of a media query for smaller screens */
@media (max-width: 1100px) {
  .carousel {
    max-width: 100%;
    margin: 0 0rem;
    padding-bottom: 24rem;
  }
  .carousel-item {
    height: auto;
  }
  .containerInfo {
    bottom: 5.5rem;
    width: 100%;
    left: 0;
    margin-right: 4rem;
    border: solid 2px rgb(200, 200, 200);
    height: 280px;
    border-radius: 0;
  }
  .subContainer-info {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .div-btn-info button {
    margin: 0.8rem 0;
  }
  #span-info {
    font-size: 0.6rem;
  }
  .subContainer-info h1 {
    font-size: 1.6rem;
  }
}
/* Example media query for smaller screens */
@media (max-width: 1100px) {
  .carousel-item {
    height: auto;
    display: inline-flex;
    align-items: center;
    text-align: center;
  }
  #carousel-img {
    max-width: 100%;
    height: auto;
  }
  .carousel-item-text {
    margin: 20px 0;
  }
  .carousel-buttons {
    align-items: center;
  }
}
@media (max-width: 844px) {
  .containerInfo {
    height: 360px;
    bottom: 0.2rem;
  }
  .containerInfo span {
    font-size: 1rem;
  }
  #span-info {
    font-size: 0.7rem;
  }
  .carousel-buttons {
    margin-bottom: 1rem;
    left: 0;
    bottom: 0;
  }
}
